.email_parents_link{
	border-left: 1px solid #fff;
	border-right: none;
}

.emailparentsbutton {
	-moz-box-shadow:inset 0px 0px 8px 0px #ffffff;
	-webkit-box-shadow:inset 0px 0px 8px 0px #ffffff;
	box-shadow:inset 0px 0px 8px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:23px;
	-webkit-border-radius:23px;
	border-radius:23px;
	border:2px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:Courier New;
	font-size:17px;
	font-weight:bold;
	padding:11px 26px;
	text-decoration:none;
	text-shadow:1px 2px 3px #ffffff;
}
.emailparentsbutton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}
.emailparentsbutton:active {
	position:relative;
	top:1px;
}

.shadedrow{
	background: #ecf6fc;
}

.highlightrow{
	background: yellow;
	font-weight:bold;
}